[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ipykernel = "*"
geopandas = "*"
shapely = "*"
pyproj = "*"
matplotlib = "*"
tqdm = "*"
openpyxl = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.13"
